{% extends "base.html" %}
{% block content %}

<a id="docs" href="http://cactusformac.com/redirect/#documentation">Documentation</a>

<section id="wrapper">
	<p>
		The <strong>default template</strong> is a barebones starting point for your project. It has all the files you need to set up a website, yet barely any pre-defined styles. If you’d like to start from scratch, this one’s for you.
	</p> 
</section>

<a href="http://cactusformac.com/?utm_source=templates&utm_medium=badge&utm_campaign=default-template">
	<img id="badge" class="2x" src="/assets/static/images/badge.png">
</a>

{% endblock %}