{% extends "base.html" %} {% block content %}

<video muted playsinline id="video1" style="width: 200px" src="/assets/static/gradients.mp4" type="video/mp4"></video>
<video muted playsinline id="video2" style="width: 200px" src="/assets/static/shapes.mp4" type="video/mp4"></video>
<video muted playsinline id="video3" style="width: 200px" src="/assets/static/shadows.mp4" type="video/mp4"></video>
<video muted playsinline id="video4" style="width: 200px" src="https://cl.ly/1G3i183T163n/shapes.mp4" type="video/mp4"></video>

<script>
	document.getElementById("video1").play()
	document.getElementById("video2").play()
	document.getElementById("video3").play()
	document.getElementById("video4").play()
</script> {% endblock %}